

.home-wrapper {
  height: 100%;
  width: 100%;
  position: relative;  
  border: 1px dashed;
}

.navbar {
  display: flex;
  padding: 0.7rem;
  justify-content: space-between;
  align-items: center;
}
.navbar-left {
  font-weight: 800;
  font-size: 1.3rem;
}
.navbar-right {
  /* comeback */
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-mascots {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  gap: 1rem;
}

.home-mascots > * {
  transition: transform 0.4s ease-in-out;
}
.home-mascots > *:hover {
  transform: scale(1.2);
  /* background-color: rgb(150, 207, 207); */
}

.home-description {
  /* width: 100%; */
  margin: 0 0 2rem 0;
  font-size: 1.2rem;
  font-weight: 300;
}

.file-input-area {
  width: 100%;
  height: 25vh;
  transition: scale 0.4s ease-in-out;
}
.file-input-area:hover {
  scale: 1.1;
}