

.file-upload-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
}

.upload-file-ui {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color:#ebe7e1 ;
  border-radius: 15px;
  outline: 2px solid #069abe88;
  outline-offset: 2px;
  width: 85%;
  height: 85%;

}

.upload-file {
  /* border: 1px solid; */
  font-size: 1.3rem;
  font-weight: 700;
  color: #069abe

}
.upload-desc {
  position: absolute;
  bottom: 5%;
  font-size: 0.9rem;
  color: #444444
}

#upload-file {
  opacity: 0;
  position: absolute;
  z-index: -1;
}