

.summary-wrapper {
  /* border: 2px solid; */
  position: absolute;
  width: 100%;
  /* top: 0; */
  bottom: 0;
  height: 93%;
  display: flex; 
  flex-direction: column;
  align-items: center; 
  background-color: #f0f8ff55;
  backdrop-filter: blur(35px);
  transform: translateY(100%);
  transition: transform 0.6s ease-in-out, backdrop-filter 1s ease-in-out;
  gap: 1rem;
  border-radius: 30px 30px 0 0;
  overflow: scroll;
}

.summary-header {
  color: #0b466e;
  margin: 1rem;
}

.summary-header-2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.summary-short, .summary-cats, .summary-recur {
  /* border: 1px dotted; */
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: c;
}
.normal {
  display: flex;
  padding: 5px 1.5rem;
  justify-content: space-between;
}

.back-button {
  display: flex;
  align-items: center;
  background-color: #0b466e22;
  padding: 0.5rem;
  gap: 4px;
  margin: 1rem
  /* position: fixed; */
  /* bottom: 10px; */
}

.cats-chart {
  display: flex;
  border: 1px solid orange;
  width: 100%;
  height: 20px;
}

.chart-item {
  height: 100%;
  outline: 1px dashed green;
}